{% extends 'certificates/base.html' %}

{% block content %}
<h1>Add New Certificate</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.certificate_number.label_tag }}
        {{ form.certificate_number }}
    </div>
    <div class="form-group">
        {{ form.printed.label_tag }}
        {{ form.printed }}
    </div>
    <div class="form-group">
        <label for="certificate_file">Upload Certificate</label>
        <input type="file" name="uploaded_certificate" id="certificate_file" class="form-control-file">
    </div> 
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
