{% extends 'certificates/base.html' %}

{% block content %}
<h1>Add New Certificate</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.certificate_number.label_tag }}
        {{ form.certificate_number }}
    </div>
    <div class="form-group">
        {{ form.printed.label_tag }}
        {{ form.printed }}
    </div>
    <div class="form-group">
        {{ form.dispatched.label_tag }}
        {{ form.dispatched }}
    </div>
    <div class="form-group">
        {{ form.picked_by.label_tag }}
        {{ form.picked_by }}
    </div>
    <div class="form-group">
        {{ form.dispatched_to.label_tag }}
        {{ form.dispatched_to }}
    </div>
    <div class="form-group">
        {{ form.dispatch_phone.label_tag }}
        {{ form.dispatch_phone }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
