<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KISM Internal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        .add-certificate-link {
            color: #007bff;
            text-decoration: none;
        }
        .add-certificate-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'certificate_list' %}">KISM Internal</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'certificate_list' %}">Certificates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'daily_records' %}">Daily Records</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link add-certificate-link" href="{% url 'add_certificate' %}">
                        <i class="fas fa-plus-circle"></i> Add new Certificate
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
