{% extends 'certificates/base.html' %}

{% block content %}
<h1>Certificates</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Certificate Number</th>
            <th>Printed</th>
            <th>Dispatched</th>
            <th>Printed By</th>
            <th>Picked up By</th>
            <th>Dispatch Date</th>
            <th>Dispatched By</th>
            <th class="actions-header">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        <tr>
            <td>{{ certificate.certificate_number }}</td>
            <td>{{ certificate.printed|yesno:"Yes,No" }}</td>
            <td>{{ certificate.dispatched|yesno:"Yes,No" }}</td>
            <td>
                {% if certificate.picked_by %}
                    {{ certificate.picked_by.username }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if certificate.printed_by %}
                    {{ certificate.printed_by.username }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ certificate.print_date }}</td>
            <td>
                {% if certificate.dispatched_by %}
                    {{ certificate.dispatched_by.username }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="actions-cell">
                {% if not certificate.dispatched %}
                <a href="{% url 'dispatch_certificate' certificate.id %}" class="btn btn-primary">Dispatch</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
<style>
    .actions-header, .actions-cell {
        text-align: center;
        vertical-align: middle;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .btn {
        display: block;
        width: 100%;
    }
</style>
