{% extends 'certificates/base.html' %}

{% block content %}

<h1>Certificates</h1>

<form method="get" action="{% url 'search_certificates' %}">
    <div class="form-group">
        <input type="text" name="q" placeholder="Search certificate">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<style>
    .nowrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="nowrap">Certificate Number</th>
            <th>Printed</th>
            <th>Dispatched</th>
            <th>Printed By</th>
            <th>Dispatch Email</th>
            <th>Print Date</th>
            <th class="nowrap">Dispatched By</th>
            <th class="actions-header">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for certificate in certificates %}
        <tr>
            <td class="nowrap"><a href="{% url 'view_certificate' certificate.id %}">{{ certificate.certificate_number }}</a></td>
            <td>{{ certificate.printed|yesno:"Yes,No" }}</td>
            <td>{{ certificate.dispatched|yesno:"Yes,No" }}</td>
            <td>
                {% if certificate.printed_by %}
                    {{ certificate.printed_by.username }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if certificate.dispatched and certificate.picked_by %}
                    {{ certificate.picked_by }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ certificate.print_date }}</td>
            <td class="nowrap">
                {% if certificate.dispatched_by %}
                    {{ certificate.dispatched_by.username }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="actions-cell">
                {% if not certificate.dispatched %}
                <form method="post" action="{% url 'dispatch_certificate' certificate.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Dispatch</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
