{% extends 'certificates/base.html' %}

{% block content %}
<h1>Daily Records</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Printed Certificates</th>
            <th>Dispatched Certificates</th>
        </tr>
    </thead>
    <tbody>
        {% for record in daily_records %}
        <tr>
            <td>{{ record.date }}</td>
            <td>
                <ul>
                    {% for cert in record.printed_certificates.all %}
                    <li>{{ cert.certificate_number }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for cert in record.dispatched_certificates.all %}
                    <li>{{ cert.certificate_number }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
